name: Test

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
  merge_group:
    branches:
      - '**'

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis:7-alpine
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 5s
          --health-timeout 5s
          --health-retries 5

    env:
      REDIS_URL: redis://localhost:6379

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.1

      - name: Install dependencies
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3

      - name: Set up ruBee
        run: |
          bundle install --redownload
          gem build rubee.gemspec
          gem install ru.Bee-*.gem

      - name: Run ruBee internal migrations
        run: |
          RACK_ENV=test bin/rubee db run:all

      - name: Run ruBee internal tests
        run: |
          RACK_ENV=test bin/rubee test

      - name: Create dummy project
        run: |
          rm -rf my_project
          RACK_ENV=test rubee project my_project

      - name: Install dummy project dependencies
        run: |
          cd my_project
          bundle install

      - name: Run db init for dummy project
        run: |
          cd my_project
          RACK_ENV=test rubee db init

      - name: Run all migrations for dummy project
        run: |
          cd my_project
          RACK_ENV=test bin/rubee db run:all

      - name: Run Minitests for dummy project
        run: |
          cd my_project
          RACK_ENV=test bin/rubee test
